/*
*****************************
main css file 
Make Swanky Code!
dagsix.github.io
*****************************
*/

    :root {
      --bg-colour: rgba(255,255,255,0.5);
      --accent-colour: #6600ff;
      --text-colour: #000000;
      --alert-color:#ff0000;
      --link-color: #00aeff;
      --vlink-color: #585151; /* visited link */
    }
    
    * 
    {
    /* only put non-inherited properties here */  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html
    {
      font-family: 'Ubuntu', sans-serif;
    background: url('https://dagsix.github.io/img/waves.jpg') #6600ff; 
    background-size: 100% auto;
    background-position: top left;
     background-repeat: no-repeat;
    }
    
    body
    {
        background-image: url('../img/23purple2.jpg'); 
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin:0;
        padding:0;
        color: var(--text-colour);
        font-size: 1.1em;
        line-height: 1.6;
        
    }
    
    main {
    padding: 1em;
    margin: 1em;
    border-left: 1px solid var(--accent-colour);
    border-right: 1px solid var(--accent-colour);
    background-color: var(--bg-colour);
    font-size: 1em;
    line-height: 1.2;
    font-family: 'Roboto',Verdana,Arial,sans-serif;
    }
    
    header
    {
    padding:0;
    margin:0;
    margin-top: .5em;
    background: none;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    text-align: center;
    font-family: 'Press Start 2P',serif;
    color:#000;
    } 
    
    a
    {
    color: var(--link-color);
    text-decoration:underline;
        -o-transition:.7s;
         -ms-transition:.7s;
         -moz-transition:.7s;
         -webkit-transition:.7s;
         /* ...and now for the proper property */
         transition:.7s;
    }
    
    a:hover
    {
    background-color: var(--bg-colour);
    color: var(--accent-colour);
    }
    
    nav
    {
    padding: 1em 0 1em 0;
    margin: 0;
    text-align: center;
    display: block;	
    background-color: var(--bg-colour);
    width:100%;
    font-weight: bold;
    border:1px solid var(--accent-colour);
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    }
    
    nav a:hover, a:active
    {
      background-color: var(--accent-colour);
      color: #000;
    }
    
    nav a:visited
    {
      color: var(--vlink-color);
      -o-transition:.7s;
      -ms-transition:.7s;
      -moz-transition:.7s;
      -webkit-transition:.7s;
      /* ...and now for the proper property */
      transition:.7s;
    
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border: 0;
        display: flex; /* Display list items horizontally */
        flex-wrap: wrap; /* Enable word wrap when needed */
        align-items: center;
        justify-content: center;
        line-height:0em;
    }
    
    nav li {
      padding: 0;
      border: 0;
      margin-right: 1em; /* Add spacing between links */
    }
    
    nav a:link {
        text-decoration: underline;
        color: var(--text-colour);
        padding: 0;
        border: 0;
        margin: 0;
        display: inline-block;
        -o-transition:.7s;
        -ms-transition:.7s;
        -moz-transition:.7s;
        -webkit-transition:.7s;
        /* ...and now for the proper property */
        transition:.7s;
    
    }
    
    footer
    {
    background-color:  var(--bg-colour);
    color: var(--text-colour);
    text-align: center;
    padding: 1em;
    margin: 0em auto;
    margin-bottom: 2em;
    width: 100%;
    border:2px dashed var(--accent-colour);
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    }
    
    
    img {
      width: clamp(300px,100%,800px); /* ideally use 100% of image which is 800px, no more than 800px, resize lower as screen changes down to 300px minimum */
      max-height: 100%;
        height: auto;
        margin:0 auto;
        display: block;
        object-fit: contain;
    }
    
    p, li, ul, ol {
    margin: 1em;
    color:var(--text-colour);
    }
    
.container
{
  width:90%;
  margin:0 auto;
}

