/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
POST RESET
*/


/* colour constants */
:root 
{
    /* background for nav and footer --alpha-dark: rgba(0,0,0,0.3); */
    --navbg: rgba(174,197,235,0.5);
    /* border and accent colour */
    --accent: rgba(102, 0, 255, 0.5);
    /* hover box background blend colour */
    --boxaccent: rgba(177, 168, 185, 0.5);
}

html {
    background-color: #ffffff;
    width:100%;
    height: 100%;
    display:flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: 'Rubik', Verdana, 'Gill Sans', Tahoma, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*
LINKS 1 2 3 
*/

a, a:link
{
    color:#6600ff;
}

a:hover
{
    transition: 1s;
    color:#000000;
}

a:visited, a:active
{
    color:#0000ff;
}



p 
{
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
}

strong {
    color: #6600ff;
}

/*
other image rollovers - working page
*/

.workimg
{
    display: block;
    width: 300px;
    height: 200px;
    opacity:0.4;
    border: 1px solid #000;
}


.workimg:hover
{
    transition: 0.5s;
    opacity: 1;
    border: 1px solid #fff;
}



#container{

    width:90%;
    border:2px solid #000;
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
    opacity: 1;
    background-image: linear-gradient(to right, rgb(121, 117, 240), rgba(255,255,255,1));
}

h6
{
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
   color: var(--accent);
   font-size: 5em; 
   text-stroke: 1px #000000; 
   -webkit-text-stroke: 2px #000000;
   margin:0;
   border:0;
   padding:0;
   display:inline;
}


h5  
{ 
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
   color: var(--accent);
   font-size: 4em; 
   text-stroke: 1px #000000; 
   -webkit-text-stroke: 1px #000000;
   
}


h4
{
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
   color: var(--accent);
   font-size: 3em; 
   text-stroke: 1px #000000; 
   -webkit-text-stroke: 1px #000000;
}

.centerthis
{
    text-align: center;
    margin: 0 auto;
}

/* new row */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
  }
  
/* new column item */ 
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }


main
{
    padding-bottom: 3em;
    height:100%;
}

/*
NAV
*/


nav{
    padding:1em;
    font-weight: 400;
    margin: 2em 0em; 
    width: 100%;
    block-size: fit-content;
    height:max-content;
    color: #000;
}


nav a:link
{
    padding:.5em;
    margin: .5em;
    border: 1px solid #000;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 1.25em;
    font-style: bold;
    color: #000;
}

nav a:hover
{
    padding:.5em;
    margin: .5em;
    border: 1px solid #000;
    text-decoration: none;
    background-color: var(--accent);
    transition: 1s;
    color:#ffffff;
}


.allboxes
{
    padding:1em;
    min-height: 350px;
    font-weight: bold;
    font-style: normal;
    margin:0.5em;
    opacity: 1;
}

.allboxes:hover > h4
{
    color: #ffffff;
    transition: 1s;
}


/*
CLIP
https://www.sitepoint.com/css-animate-text-gradients-patterns/
for header animation Welcome to...
*/

.fancy {
    color: transparent;
    -webkit-background-clip: text; /* Edge, Chrome */
    background-clip: text; /* Safari, FF */
    background-image: url(/img/clip.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
    animation: gradientAnimation 8s linear infinite;
    animation-direction: alternate;
}

@keyframes gradientAnimation {
    0%    { background-position: 0; }
    50%  { background-position: 100%; }
    100%  { background-position: 0%; }
  }

/*
BOX ONE
WORK
*/

.boxone
{
    background-image: url("/img/code-bw.jpg"); 
    background-size: cover;
    border:2px solid black;
    opacity: 1;
}

.boxone:hover
{
    border:2px solid #ffffff;
    background-image: url("/img/code-rgb.jpg"); 
    transition: 1s;
    background-color: #a978f2;
    opacity: 1;
    color:#ffffff;
    background-blend-mode: multiply;
}


/*
BOX TWO
EXPERIENCE
*/


.boxtwo
{
    background-image: url("/img/storyboard-bw.jpg"); 
    background-size: cover;
    border:2px solid black;
    opacity: 1;
}

.boxtwo:hover
{
    /* was screen */
    background-image: url("/img/storyboard-rgb.jpg"); 
    border:2px solid #ffffff;
    transition: 1s;
    opacity: 1;
    color:#ffffff;
    background-blend-mode: multiply;
    background-color: #a978f2;
}

/*
BOX THREE
CONTACT
*/


.boxthree
{
    background-image: url("/img/wordpress-bw.jpg"); 
    background-size: cover;
    border:2px solid black;
     opacity: 1;
}

.boxthree:hover
{
    /* was screen */
    background-image: url("/img/wordpress-rgb.jpg"); 
    border:2px solid #ffffff;
    transition: 1s;
    opacity: 1;
    color:#ffffff;
    background-blend-mode: color-burn;
    background-color: #a978f2;
}

/*
BOX FOUR
TESTING
*/


.boxfour
{
    background-image: url("/img/html-bw.jpg"); 
    background-size: cover;
    border:2px solid black;
    opacity: 1;
}


.boxfour:hover
{
    background-image: url("/img/html-rgb.jpg"); 
    border:2px solid #ffffff;
    transition: 1s;
    opacity: 1;
    color:#ffffff;
    background-blend-mode: color-burn;
    background-color: #a978f2;
}

/*
FOOTER
*/


footer{
    padding:1em;
    font-weight:bold;
    margin: 2em 0em; 
    border:dashed 2px var(--accent);
    width: 100%;
    background-color: var(--navbg);
}

/*
header animations 
*/

#dagani {
    background: linear-gradient(90deg, #ff0000, #0000ff); /* Example gradient */
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: animatedtext 6s ease-in-out infinite;
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

  @keyframes animatedtext {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #emaildiv
  {
    width:405px;
    height:61px;
    background-color: var(--accent);
    border:2px dashed white;
  }


/*
MOBILE TARGETS BELOW
***************************************************************************************
*/



/*
MOBILE 1800
*/
@media screen and (max-width: 1800px) 
{
h6 
{
font-size: 3.5em;
}
h4 
{
font-size: 2em;
}
}


/*
MOBILE 1300
*/
@media screen and (max-width: 1300px) 
{
h6 
{
font-size: 3.5em;
}
h4 
{
font-size: 1.5em;
}
}

/*
MOBILE 1000
*/
@media screen and (max-width: 1050px) 
{
    nav{
        padding:0.5em;
        font-weight: 400;
        margin: 0.5em 0em; 
        width: 100%;
        block-size: fit-content;
        height:max-content;
        text-align: left;
        color: #000;
        font-size: 0.75em;
    }
    .column {
        display: grid;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
      }
/* drop 2 columns to 1 column but it doesn't so WTF */
.html
{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.boxone { grid-area: 1; }
.boxtwo { grid-area: 2; }
.boxthree { grid-area: 3; }
.boxfour { grid-area: 4; }
h4 
{
font-size: 1.25em;
}
}


/*
MOBILE 900
*/
@media screen and (max-width: 800px) 
{
h6 
{
font-size: 2em;
}
h4 
{
font-size: 1em;
}


}

/*
MOBILE 720
*/
@media screen and (max-width: 720px) 
{
h6 
{
font-size: 2.5em;
}
h4 
{
font-size: 1em;
}


}