/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
POST RESET
*/

html {
    background-color: #c0c0c0;
    width:100%;
    height: auto;
    display:flex;
    flex-flow: column wrap;
    height:auto;
    justify-content: center;
    align-items: center;
}


#container{

    width:90%;
    border:2px dashed #6600ff;
    padding: 1em;
    margin: 1em;
    background-color: #ffffff;
}

h6
{
    font-family: "Francois One", sans-serif;
    font-weight: 400;
  font-style: normal;
   color:#6600ff;
   font-size: 5em; 
   text-stroke: 1px #000000; 
   -webkit-text-stroke: 1px #000000;
}

h4
{
    font-family: "Francois One", sans-serif;
    font-weight: 400;
  font-style: normal;
   color:cadetblue;
   font-size: 3em; 
   text-stroke: 1px #000000; 
   -webkit-text-stroke: 1px #000000;
}

.centerthis
{
    text-align: center;
    margin: 0 auto;
}

/* new row */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
  }
  
/* new column item */ 
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }


main
{
    padding-bottom: 3em;
}

/*
NAV
*/


nav{
    padding:1em;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: bold;
    margin: 2em 1em 1em 1em; 
    border:dashed 2px #6600ff;
    width: 100%;
    
}

.allboxes
{
    padding:1em;
    min-height: 350px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
}

/*
CLIP
https://www.sitepoint.com/css-animate-text-gradients-patterns/
*/

.fancy {
    color: transparent;
    -webkit-background-clip: text; /* Edge, Chrome */
    background-clip: text; /* Safari, FF */
    background-image: 
      url(/img/clip.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
    animation: gradientAnimation 30s linear infinite;
    animation-direction: alternate;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0;
    }
    to {
      background-position: 100%;
    }
  }

/*
BOX ONE
*/



.boxone:hover
{
    background-blend-mode: screen;
    background-color:#6600ff;
    border: 1px groove black;
}

.boxone
{
    background-image: url("/img/code.jpg"); 
    background-size: cover;
   border:1px solid #6600ff;
   background-blend-mode: screen;
   background-color:mediumslateblue
}

/*
BOX TWO
*/


.boxtwo
{
    background-image: url("/img/storyboard.jpg"); 
    background-size: cover;
    border:1px solid black;
    background-blend-mode: screen;
    background-color:#333333;
}

.boxtwo:hover
{
    background-blend-mode: screen;
    background-color:#6600ff;
    border:1px solid #6600ff;
}

/*
BOX THREE
*/


.boxthree
{
    background-image: url("/img/wordpress.jpg"); 
    background-size: cover;
    border:1px dotted black;
    background-blend-mode: screen;
    background-color:#999999;
}

.boxthree:hover
{
    background-blend-mode: screen;
    background-color:#6600ff;
    border:1px solid #6600ff;
}

/*
BOX FOUR
*/


.boxfour
{
    background-image: url("/img/html-rgb.jpg"); 
    background-size: cover;
    border:1px dashed black;
    background-blend-mode: screen;
    background-color:#666666;
}


.boxfour:hover
{
    background-color:#6600ff;
    background-blend-mode: screen;
    border:1px solid #6600ff;
}

/*
FOOTER
*/


footer{
    padding:1em;
    font-family: "Ubuntu", sans-serif;
    font-weight:bold;
    margin: 2em 1em 1em 1em; 
    border:dashed 2px #6600ff;
    width: 100%;
    background-color: #aa79f1;
}

.footergap {
margin:2em;
}

/*
MOBILE 1800
*/
@media screen and (max-width: 1800px) 
{
h6 
{
font-size: 3.5em;
}
h4 
{
font-size: 2em;
}
}


/*
MOBILE 1200
*/
@media screen and (max-width: 1200px) 
{
h6 
{
font-size: 3.5em;
}
h4 
{
font-size: 1.25em;
}
/* drop 2 columns to 1 column */
.row
{
display: inline-block;
}
}


/*
MOBILE 800
*/
@media screen and (max-width: 800px) 
{
h6 
{
font-size: 2.5em;
}
h4 
{
font-size: 1.25em;
}


}

/*
MOBILE 720
*/
@media screen and (max-width: 720px) 
{
h6 
{
font-size: 2.5em;
}
h4 
{
font-size: 1em;
}


}