    body
    {
     background: url('../img/stacked-waves-haikei.svg') #6600ff; 
    background-size: 100% auto;
    background-position: top left;
     background-repeat: no-repeat;
       background-attachment:fixed; 
       font-family: 'Ubuntu','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size:1.25em;
    }
    
    .container {
        display:flex;
        justify-content: space-evenly;
        flex-flow: column nowrap; 
        justify-content: center; 
        width: min(100% - 2rem, 70rem);
        margin: 0 auto;
    }
    
    .item {
    width: min(100% - 2rem, 70rem);
    margin-inline:auto;
    padding: 1em;
    }

    header {
    background: url('flower.jpg') #6600ff; 
    background-size: cover;
    order:1;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-top: 1px dotted black;
    margin-top:1em;
    }

    nav {
    background-color: #cccccc;
    order: 2;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
    }

    main {
    background-color:gray;
    order: 3;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    }
    
    footer {
    background-color:rgba(0,0,0,0.5);
    order: 4;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 1em;
    width: min(100% - 2rem, 70rem);
    color: white;
    }

    p {
        padding:10px;
        font-family: 'Ubuntu','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*
*****************************
dev page classes 
****************************
*/


code {
  background-color: black;
  border: 1px dashed #03fd09;
  display: block;
  padding: 1em;
  color: #03fd09;
  font-family: 'Ubuntu','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#json {
    width: 454px;
}

.dgbutton {
    width: 150px;
    height: auto;
    border: 2px solid #6600ff;
    color: #000;
    background: gainsboro;
    padding: 4px;
    margin: 4px;
}

h1 {
color: #6600ff;
       font-family: 'Ubuntu','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

