body
{
  background:silver;
  font-family: 'Verdana', sans-serif;
  margin: 2em;
  padding: 1em;
}
.section
{
  border: 1px solid #fff;
  color: #000;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  width: 50%;
}
#showtime, #timecomment, #myoutput
{
  font-size:9vw;
  /* text-shadow: 3px 3px #333333; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: 'Passion One', cursive;
  display: grid;
  color: rgba(255, 255, 255, 0.5);
  place-items: center;
  width: 100%;
  }
#myoutput, #timecomment
{
 font-size:5vw;  
}
#bgout
{
    position: fixed;
    bottom:0;
    font-size: 1vw;
    color:#fff;
    font-family: 'Passion One', cursive;
}
#weatherimg
{
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

