/*
##########################################################
Coding by Dave Guzda
PSD to HTML/CSS Assignment WDDM 116
>>> make swanky code! <<<
###########################################################
*/

#container {
    width: 1280px;
    margin: 0 auto 0 auto;
}

header {
    height: 225px;
    background: #fff;
    text-align: center;
}

/* rollover colour #3c4c41 */


nav {
    font-family: "Myriad Pro", "Arial", sans-serif;
    color: #3c4c41;
    text-align: center;
    box-sizing: border-box;
    padding: 0 0 15px 0;
}

nav a {
    font-family: "Myriad Pro", "Arial", sans-serif;
    color: #3c4c41;
    padding: 5px;
}

nav a:hover {
    font-family: "Myriad Pro", "Arial", sans-serif;
    color: #fff;
    padding: 5px;
    background: #3c4c41;
}

aside {
    background: url("../img/mealschosen.jpg");
    /* image is 650px high */
    min-height: 650px;
}


/* about us */
main {
    width: 1280px;
    text-align: center;
    padding-top: 42px;
    height: 550px;
    box-sizing: border-box;
    /* background: red; */
}

/* choices and get app */
section {
    padding: 0px;
    margin: 0px;
}

#meals {
    background: url("../img/mealschosen.jpg");
    /* image is 650px high */
    min-height: 650px;
}

/* ******************************************** ABOUT US TAGS */


/* about an employee container */
.staff {
    height: 150px;
    margin: 30px auto 30px auto;
    text-align: left;
    width: 1000px;
}

.ftitle {
    /* brushscript std font */
    font-family: hobo-std, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
    margin: 0 auto 0 auto;
    text-transform: uppercase;
}

/* about us titles */
.aboutt {
    /* brushscript std font */
    font-family: hobo-std, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
    color: #86765c;
    padding: 0 0 10px 0;
    display: block;
}

/* paragaph text for staff */
.abouttext {
    margin-top: 15px;
    font-family: "Myriad Pro", 'Roboto', "Arial", sans-serif;
    font-size: medium;
    color: #000;
    display: block;
}

/* about left container */
.aboutleft {
    margin-right: 35px;
    /* gap between text and photos */
    width: 470px;
    float: left;

}

/* about images */
.aboutimg {
    margin-right: 10px;
}

/* color for aboutus title (same as about us so just reused it */
.aboutus {
    color: #524741;
    display: block;
    margin: 20px;

}


/* ******************************************** CHOICE TAGS */

/* choices title */
.choicest {
    color: #ffffff;
    display: block;
    margin-bottom: 20px;
}

#choices {
    height: 550px;
    background: #5b866b;
    width: 1280px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 72px;
}

/* row of pics */
.choicesrow {
    height: 134px;
    width: 1280px;
    text-align: center;
    display: block;
    margin: 0 0 20px 0;

}

.choiceimg {
    margin: 10px 10px 20px 0;
}

/* opacity change for choices items */

#choices img {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}

#choices img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
}


/* ******************************************** APP TAGS */

/* get the app */
#getapp {
    width: 1280px;
    text-align: center;
    /* background: yellow; */
    height: 500px;
    /* 550 */
}

#appleft {
    float: left;
    width: 575px;
    box-sizing: border-box;
    margin-left: 100px;
}

#appform {
    float: left;
    width: 420px;
    /* shrink this */
    margin-left: 20px;
}

.myinput {
    display: block;
    background: #ebebeb;
    font-family: "Myriad Pro", 'Roboto', "Arial", sans-serif;
    font-size: medium;
    border: 0px;
    height: 70px;
    padding: 7px;
    margin-bottom: 15px;
    width: 405px;
}

.clearit {
    clear: both;
}

#submit {
    background: url("../img/send.jpg") no-repeat;
    width: 150px;
    height: 68px;
    float: right;
}

/* ******************************************** FOOTER TAGS */

#tothetop {
    float: right;
    width: 280px;
    margin-right: 40px;
}

#socialbox {
    float: left;
    width: 575px;
    box-sizing: border-box;
    margin-left: 130px;
}

.smedia {
    padding-right: 5px;
}

footer {
    font-family: "Myriad Pro", 'Roboto', "Arial", sans-serif;
    font-size: medium;
    width: 1280px;
    height: 100px;
}

/* opacity change for choices items */

footer img {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}

footer img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
}
